*{
    box-sizing: border-box;
}


body{
    background-color: #FAF8F0;
}

.lisence{
    margin-top: 2%;
    font-size: 24px;
    text-align: center;
}

.levelBox{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
}

a{
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    color: black;
}

a:hover{
    color: #4F84F7;
    cursor: default;
}

.container{
    border: 2px solid #616A73;
    width: 404px;
    height: 474px;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    width: 400px;
    height: 70px;
    background-color: #EDF0F0;
    padding-top: 10px;
}

.state{
    border: 2px solid #616A73;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    background-color: #5F6471;
    box-shadow: 0px 0px 1.5px 1.5px gray;

}

img{
    height: 35px;
    width: 35px;
}

table{
    background-color: #616A73;
    border-top: 2px solid #616A73;
    width: 400px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

td{
    background-color: #C3C4CD;
    background-size: 100% 100%;
    background-position: center;
    background-size: cover;
    font-family: jua;
    font-size: 18px;
    word-break: break-all;
}